/* CSS crunched with Crunch - http://crunchapp.net/ */
.blog-block {
  overflow: hidden;
}
.blog-block .blog-block-title {
  font: 24px/1 'open_sansregular';
  color: #000000;
  margin-bottom: 20px;
}
.blog-block .blog-block-content {
  width: 100%;
  overflow: hidden;
}
.blog-block .blog-block-content .blog-content {
  width: 100%;
  overflow: hidden;
}
.blog-block .blog-block-content .blog-content .blog-img-container {
  width: 22.727272727272727%;
  height: 140px;
}
.blog-block .blog-block-content .blog-content .blog-img-container img {
  max-width: 100%;
}
.blog-block .blog-block-content .blog-content .content {
  width: 74.24242424242425%;
  overflow: hidden;
}
.blog-block .blog-block-content .blog-content .content .blog-title {
  margin-bottom: 20px;
}
.blog-block .blog-block-content .blog-content .content .blog-title h2 a {
  font: 18px/1 'open_sansregular';
  color: #ff7e00;
}
.blog-block .blog-block-content .blog-content .content .blog-title h2 a:hover {
  text-decoration: underline;
  color: #000000;
}
.blog-block .blog-block-content .blog-content .content .blog-text {
  width: 100%;
  overflow: hidden;
  font: 13px/20px 'open_sansregular';
  color: #606060;
  margin-bottom: 20px;
}
.blog-block .blog-block-content .blog-content .content .blog-detail {
  width: 100%;
  border-top: 1px solid #959595;
  border-bottom: 1px solid #959595;
  overflow: hidden;
}
.blog-block .blog-block-content .blog-content .content .blog-detail ul {
  list-style: none;
}
.blog-block .blog-block-content .blog-content .content .blog-detail ul li {
  float: left;
  border-right: 1px solid #959595;
  padding: 0 21px;
}
.blog-block .blog-block-content .blog-content .content .blog-detail ul li a {
  display: block;
  font: 11px/38px 'open_sansregular';
  color: #606060;
}
.blog-block .blog-block-content .blog-content .content .blog-detail ul li a:hover {
  color: #ff7e00;
}
.blog-block .blog-block-content .blog-content .content .blog-detail ul li a span.fa {
  font-size: 13px;
  margin-right: 5px;
}
.blog-block .blog-block-content .blog-content .content .blog-detail ul li:last-child {
  border-right: none;
}
.blog-block .blog-block-content .blog-content .content .blog-detail ul li:last-child a span.fa {
  margin-right: 0;
  margin-left: 5px;
}
.blog-block .blog-block-content .blog-divider {
  height: 5px;
  width: 100%;
  background: #eeeeee;
  overflow: hidden;
  margin: 40px 0;
}
