/* CSS crunched with Crunch - http://crunchapp.net/ */
/*----------------------- COLUMNS -----------------------*/
.c-1 {
  width: 6.5%;
}
.c-2 {
  width: 15%;
}
.c-3 {
  width: 23.5%;
}
.c-4 {
  width: 32%;
}
.c-5 {
  width: 40.5%;
}
.c-6 {
  width: 49%;
}
.c-7 {
  width: 57.5%;
}
.c-8 {
  width: 66%;
}
.c-9 {
  width: 74.5%;
}
.c-10 {
  width: 83%;
}
.c-11 {
  width: 91.5%;
}
.c-12 {
  width: 100%;
}
/*----------------------- LAYOUT -----------------------*/
.main-container-wrapper {
  width: 100%;
  overflow: hidden;
  background: #FFFFFF;
}
.main-container-wrapper .main-container.col-1-layout {
  max-width: 62.5em;
  margin: 0 auto;
}
.main-container-wrapper .main-container.col-1-layout .main {
  width: 100%;
  overflow: hidden;
  margin: 40px 0;
}
.main-container-wrapper .main-container.col-1-layout .main .col-main {
  width: 100%;
  overflow: hidden;
}
