/* CSS crunched with Crunch - http://crunchapp.net/ */
#menu-toggle {
  display: none;
  float: right;
  background: #ff7e00;
  margin: 15px 0;
  padding: 6px 10px;
  color: #FFFFFF;
  font: 13px/1 'open_sansbold';
}
.navigation-container-wrapper.relative {
  height: 60px;
  position: relative;
}
.navigation-container-wrapper.relative .navigation-container {
  height: 60px;
  position: absolute;
  width: 100%;
  z-index: 5;
}
.navigation-container-wrapper.relative .navigation-container ul#main-menu {
  float: left;
  height: 60px;
  width: 100%;
}
.navigation-container-wrapper.relative .navigation-container ul#main-menu li {
  float: left;
  padding: 20px 4.36%;
  position: relative;
  cursor: pointer;
}
.navigation-container-wrapper.relative .navigation-container ul#main-menu li a {
  color: #000000;
  text-decoration: none;
  font: 14px 'open_sansbold';
}
.navigation-container-wrapper.relative .navigation-container ul#main-menu li:hover {
  background: #ff7e00;
}
.navigation-container-wrapper.relative .navigation-container ul#main-menu li:hover a {
  color: #ffffff;
}
.navigation-container-wrapper.relative .navigation-container ul#main-menu li ul.sub-menu {
  display: none;
  left: 0;
  top: 60px;
  position: absolute;
  min-width: 130px;
  z-index: 9999;
}
.navigation-container-wrapper.relative .navigation-container ul#main-menu li ul.sub-menu li {
  display: block;
  width: 100%;
  padding: 0;
}
.navigation-container-wrapper.relative .navigation-container ul#main-menu li ul.sub-menu li a {
  background: #333333;
  border: 1px solid #444444;
  border-top: none;
  color: #BBBBBB;
  display: block;
  font-size: 12px;
  line-height: 15px;
  padding: 10px 12px;
}
.navigation-container-wrapper.relative .navigation-container ul#main-menu li ul.sub-menu li a:hover {
  background: #2a2a2a;
  color: #FFFFFF;
}
.navigation-container-wrapper.relative .navigation-container ul#main-menu li ul.sub-menu li a.parent {
  background-image: url(../images/menu/arrow.png);
  background-size: 5px 9px;
  background-repeat: no-repeat;
  background-position: 95% center;
}
.navigation-container-wrapper.relative .navigation-container ul#main-menu li ul.sub-menu li ul.sub-menu {
  margin-top: -1px;
  padding-top: 0;
  left: 130px;
  display: none;
  top: 0;
}
.navigation-container-wrapper.relative .navigation-container ul#main-menu li ul.sub-menu li ul.sub-menu li {
  width: 100%;
  display: block;
}
.navigation-container-wrapper.relative .navigation-container ul#main-menu li ul.sub-menu li ul.sub-menu li:first-child {
  border-top: 1px solid #444444;
}
.navigation-container-wrapper.relative .navigation-container ul#main-menu li ul.sub-menu li:hover ul.sub-menu {
  display: block;
}
.navigation-container-wrapper.relative .navigation-container ul#main-menu li:hover {
  background: #ff7e00;
}
.navigation-container-wrapper.relative .navigation-container ul#main-menu li:hover a {
  color: #ffffff;
}
.navigation-container-wrapper.relative .navigation-container ul#main-menu li:hover ul.sub-menu {
  display: block;
}
.navigation-container-wrapper.relative .navigation-container ul#main-menu li.current-menu-item {
  background: #ff7e00;
}
.navigation-container-wrapper.relative .navigation-container ul#main-menu li.current-menu-item a {
  color: #ffffff;
}
@media all and (max-width: 700px) {
  #menu-toggle {
    display: block;
  }
  .navigation-container {
    position: static;
    margin-top: 20px;
  }
  .navigation-container ul#main-menu {
    display: none;
    float: none;
  }
  .navigation-container ul#main-menu li {
    display: block;
    margin: 0;
    padding: 0 !important;
    width: 100% !important;
    margin-top: -1px;
  }
  .navigation-container ul#main-menu li a {
    background-color: #333333;
    border: 1px solid #444444;
    color: #BBBBBB;
    display: block;
    font-size: 14px;
    padding: 12px !important;
  }
  .navigation-container ul#main-menu li a:hover {
    background-color: #444444;
  }
  .navigation-container ul#main-menu li ul.sub-menu {
    display: block !important;
    margin-top: -1px;
    position: static !important;
    padding: 0;
    width: inherit;
  }
  .navigation-container ul#main-menu li ul.sub-menu li:first-child {
    border-top: 1px solid #444444 !important;
  }
  .navigation-container ul#main-menu li ul.sub-menu li a.parent {
    background: #333333 !important;
  }
  .navigation-container ul#main-menu li ul.sub-menu li ul.sub-menu {
    display: block !important;
    margin-top: -1px;
    position: static !important;
    padding: 0;
    width: inherit;
  }
  .navigation-container ul#main-menu li:hover a {
    border: 1px solid #444444 !important;
    color: #ffffff;
  }
  .navigation-container ul#main-menu li.current-menu-item a {
    border: 1px solid #444444 !important;
    color: #ffffff;
  }
  .navigation-container ul#main-menu li.parent {
    background: none !important;
    padding: 0;
  }
  .navigation-container ul#main-menu li:first-child {
    margin-top: 0;
  }
}
@media only screen and (max-width: 320px) {
  .navigation-container {
    max-width: 320px;
    margin-left: -190px;
  }
}
