/* CSS crunched with Crunch - http://crunchapp.net/ */
@media only screen and (max-width: 767px) and (min-width: 480px) {
  
}
@media only screen and (max-width: 480px) and (min-width: 320px) {
  .header-top-container-wrapper {
    width: 100%;
  }
  .header-top-container-wrapper .header-top-container {
    width: 100%;
  }
  .header-top-container-wrapper .header-top-container .login-section.pull-right.c-2 {
    width: 150px;
  }
  .header-container-wrapper {
    width: 100%;
  }
  .header-container-wrapper .header-container {
    width: 100%;
    padding: 0 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .header-container-wrapper .header-container .pull-left.c-2.logo {
    width: 133px;
  }
  .blog-block {
    float: none;
    width: 100%;
    margin-bottom: 40px;
  }
  .blog-block .blog-block-content {
    width: 100%;
    float: none;
  }
  .blog-block .blog-block-content .blog-content .blog-img-container {
    display: none;
  }
  .blog-block .blog-block-content .blog-content .content {
    width: 100%;
  }
  .blog-block .blog-block-content .blog-content .content .blog-detail ul li {
    padding: 0;
    width: 49%;
    border-bottom: 1px solid #959595;
  }
  .blog-block .blog-block-content .blog-content .content .blog-detail ul li a {
    text-align: center;
  }
  .blog-block .blog-block-content .blog-content .content .blog-detail ul li.even {
    border-right: none;
  }
  .blog-block .blog-block-content .blog-content .content .blog-detail ul li.b-b-none {
    border-bottom: none;
  }
}
