/* CSS crunched with Crunch - http://crunchapp.net/ */
@import url('reset.css');

@import url('fonts.css');

@import url('font-awesome.css');

@import url('menu.css');

@import url('layout.css');

@import url('block-sets.css');

@import url('responsive.css');
/*----------------------- HTML TAGS -----------------------*/
body {
  font-size: 100%;
  color: #606060;
  line-height: 20px;
  font-family: 'open_sansregular';
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000000;
  line-height: 20px;
  font-family: 'open_sansregular';
}
h1 {
  font-size: 24px;
}
h2 {
  font-size: 18px;
}
p {
  font-family: 'open_sansregular';
  color: #606060;
  line-height: 20px;
  font-size: 13px;
}
a {
  text-decoration: none;
  font-size: 13px;
  color: #000000;
  font: 'open_sansregular';
}
a:hover {
  color: #ffffff;
}
a:visited {
  outline: none;
}
input,
textarea {
  font: 13px 'open_sansregular';
  color: #606060;
  outline: none;
}
input:focus,
textarea:focus {
  box-shadow: none;
  outline: none;
}
/*----------------------- FLOAT AND CLEAR -----------------------*/
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.cl {
  clear: left;
}
.cl {
  clear: right;
}
.cb {
  clear: both;
}
/*----------------------- MAIN-WRAPPER PAGE -----------------------*/
.main-wrapper {
  width: 100%;
  background: url(../images/pattern/pw-pattern.png) repeat;
}
.page {
  width: 100%;
}
/*----------------------- HEADER-TOP -----------------------*/
.header-top-container-wrapper {
  width: 100%;
  background: #000000;
  min-height: 40px;
  height: auto !important;
  height: 40px;
}
.header-top-container-wrapper .header-top-container {
  max-width: 62.5em;
  margin: 0 auto;
  min-height: 40px;
  height: auto !important;
  height: 40px;
}
.header-top-container-wrapper .header-top-container .login-section {
  height: 40px;
}
.header-top-container-wrapper .header-top-container .login-section ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
}
.header-top-container-wrapper .header-top-container .login-section ul li {
  float: left;
  height: 40px;
  padding: 0 10%;
}
.header-top-container-wrapper .header-top-container .login-section ul li a {
  color: #ffffff;
  display: block;
  line-height: 40px;
  font-family: 'open_sansbold';
}
.header-top-container-wrapper .header-top-container .login-section ul li:hover {
  background: #ff7e00;
}
.header-top-container-wrapper .header-top-container .login-section ul li:hover a {
  color: #000000;
}
/*----------------------- HEADER -----------------------*/
.header-container-wrapper {
  width: 100%;
  background: rgba(255, 255, 255, 0.7);
  border-top: 1px solid #959595;
  border-bottom: 1px solid #959595;
  min-height: 60px;
  height: auto !important;
  height: 60px;
}
.header-container-wrapper .header-container {
  max-width: 62.5em;
  margin: 0 auto;
  min-height: 60px;
  height: auto !important;
  height: 60px;
}
.header-container-wrapper .header-container .logo {
  display: block;
}
.header-container-wrapper .header-container .logo h1 {
  height: 60px;
  line-height: 70px;
}
.header-container-wrapper .header-container .logo h1 a {
  display: block;
}
/*----------------------- SLOGAN MESSAGE CONTAINER -----------------------*/
.slider-container-wrapper {
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid #959595;
}
.slider-container-wrapper .slider-container {
  margin: 0 auto;
  max-width: 62.5em;
}
.slider-container-wrapper .slider-container .slider {
  width: 100%;
  height: 300px;
  margin-bottom: 5px;
  display: block;
}
.slider-container-wrapper .slider-container .slogan-message-wrapper {
  width: 100%;
  display: block;
  background: #ff7e00;
  padding: 20px 2%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.slider-container-wrapper .slider-container .slogan-message-wrapper .slogan-message {
  font: 18px/20px 'open_sansbold_italic';
  color: #ffffff;
  text-align: center;
}
/*----------------------- DIVIDER -----------------------*/
.divider {
  height: 1px;
  max-width: 62.5em;
  background: #959595;
  margin: 40px 0;
}
@media only screen and (max-width: 479px) and (min-width: 320px) {
  .main-wrapper {
    max-width: 479px;
  }
  .main-wrapper .page {
    width: 100%;
  }
  .main-wrapper .page .col-main {
    width: 100%;
    padding: 0 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
