.ca-menu{
    padding:0;
    max-width: 1000px;
	overflow:hidden;
}
.ca-menu li{
    width: 32%;
    height: 200px;
    overflow: hidden;
    position: relative;
    float:left;
    margin-right: 2%;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.ca-menu li:last-child{
    margin-right: 0px;
}
.ca-menu li a{
    text-align: left;
    width: 100%;
    height: 100%;
    display: block;
    color: #333;
    position: relative;
}
.ca-icon{
    font-size: 60px;
    color:000000;
    line-height: 80px;
    position: absolute;
    width: 100%;
    left: 0px;
    top: 0px;
    text-align: center;
    -webkit-transition: all 400ms linear;
    -moz-transition: all 400ms linear;
    -o-transition: all 400ms linear;
    -ms-transition: all 400ms linear;
    transition: all 400ms linear;
}
.ca-content{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 58%;
    top: 42%;
}
.ca-main{
    font-size: 28px;
	color:000000;
    text-align: center;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
	height:45px;
}
.ca-sub{
    text-align:center;
    font-size: 13px;
    color: #606060;
    line-height: 20px;
	padding:10px 0;
    position: absolute;
    bottom: 0;
    width: 100%; 
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
}
.ca-menu li:hover{
    background-color: #ededed;
}
.ca-menu li:hover .ca-icon{
    -webkit-animation: moveFromBottom 300ms ease;
    -moz-animation: moveFromBottom 300ms ease;
    -ms-animation: moveFromBottom 300ms ease;
}
.ca-menu li:hover .ca-main{
    -webkit-animation: smallToBig 300ms ease;
    -moz-animation: smallToBig 300ms ease;
    -ms-animation: smallToBig 300ms ease;
}
.ca-menu li:hover .ca-sub{
    color: #FFFFFF;
    background-color: #ff7e00;
    -webkit-animation: moveFromBottom 500ms ease;
    -moz-animation: moveFromBottom 500ms ease;
    -ms-animation: moveFromBottom 500ms ease;
}
@-webkit-keyframes smallToBig{
    from {
        -webkit-transform: scale(0.1);
    }
    to {
        -webkit-transform: scale(1);
    }
}
@-moz-keyframes smallToBig{
    from {
        -moz-transform: scale(0.1);
    }
    to {
        -moz-transform: scale(1);
    }
}
@-ms-keyframes smallToBig{
    from {
        -ms-transform: scale(0.1);
    }
    to {
        -ms-transform: scale(1);
    }
}

@-webkit-keyframes moveFromBottom {
    from {
        -webkit-transform: translateY(100%);
    }
    to {
        -webkit-transform: translateY(0%);
    }
}
@-moz-keyframes moveFromBottom {
    from {
        -moz-transform: translateY(100%);
    }
    to {
        -moz-transform: translateY(0%);
    }
}
@-ms-keyframes moveFromBottom {
    from {
        -ms-transform: translateY(100%);
    }
    to {
        -ms-transform: translateY(0%);
    }
}

@media only screen and (max-width: 480px) and (min-width: 320px){
	.ca-menu{width:100%; box-sizing:border-box; -moz-box-sizing:border-box; -o-box-sizing:border-box; -webkit-box-sizing:border-box;}	
	.ca-menu li{display:block; width:100%; margin:0 0 20px 0 }
	.ca-menu li:last-child{margin-bottom:0}
	.service-block.pull-right.c-4{width:100%; float:none; clear:both}
}

.ac-container{
	width:99.9%
}
.ac-container label{
	font-family: 'open_sansregular', Arial, sans-serif;
	position: relative;
	z-index: 20;
	display: block;
	height: 49px;
	cursor: pointer;
	color: #606060;
	line-height: 49px;
	font-size: 18px;
	background: #dadada;
	border:1px solid #959595;
	margin-bottom:2px;
	padding:0 20px;
}
.ac-container label:hover{
	background: #ff7e00;
	color:#FFFFFF;
}
.ac-container input:checked + label,
.ac-container input:checked + label:hover{
	background: #ff7e00;
	color: #FFFFFF;
}
.ac-container label:hover:after,
.ac-container input:checked + label:hover:after{
	content: '';
	position: absolute;
	width: 24px;
	height: 24px;
	right:20px;
	top: 13px;
	background: transparent url(../images/accordion-icon.png) no-repeat center center;	
}
.ac-container input:checked + label:hover:after{
	background-image: url(../images/accrodion-hover-icon.png);
}
.ac-container input{
	display: none;
}
.ac-container .accordion-item{
	background: #FFFFFF;
	overflow: hidden;
	height: 0px;
	position: relative;
	z-index: 10;
	-webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}
.ac-container .accordion-item p{
	font-family: 'open_sansitalic';
	color: #606060;
	line-height: 20px;
	font-size: 13px;
	padding: 20px;
}
.ac-container input:checked ~ .accordion-item{
	-webkit-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-moz-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-o-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-ms-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	border:1px solid #959595;
	margin-bottom:1px 
}
.ac-container input:checked ~ .accordion-item{
	height: 140px
}


